AUTHORS
ChangeLog
HistoryGluon/classes/
INSTALL
Makefile
Makefile.in
NEWS
aclocal.m4
autom4te.cache/
client-lib-c/Makefile
client-lib-c/Makefile.in
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
.exrc
client-lib-c/.deps/
client-lib-c/.libs/
client-lib-c/history-gluon.lo
client-lib-c/libhistory-gluon.la
test/.deps/
test/.libs/
test/*.la
test/*.lo
touch
missing
history-gluon-1.0.pc
client-lib-c/message.lo
client-php-ext/src/.deps
ient-php-ext/src/.libs/
client-php-ext/src/Makefile.fragments
client-php-ext/src/Makefile.global
client-php-ext/src/Makefile.objects
client-php-ext/src/acinclude.m4
client-php-ext/src/build/
client-php-ext/src/config.h
client-php-ext/src/config.h.in
client-php-ext/src/config.h.in~
client-php-ext/src/config.nice
client-php-ext/src/configure.in
client-php-ext/src/history-gluon-php-ext.lo
client-php-ext/src/history_gluon.la
client-php-ext/src/mkinstalldirs
client-php-ext/src/modules/
client-php-ext/src/run-tests.php
client-php-ext/src/.libs/
server/classes.test/
server/classes/
